<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Effective, Accessible Web Development Services">
    <meta name="keywords" content="508, WCAG, web development, VPAT">
    <meta name="author" content="Caleb Rogers">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ block "title" . }}
      {{ .Site.Title }}
      {{ end }}</title>
    <link rel="stylesheet" href="css/wing.css">
    <link rel="stylesheet" href="css/blueprint.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons@latest/iconfont/tabler-icons.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Josefin+Sans">

  </head>
  <body>
    <!-- Code that all your templates share, like a header -->
    {{ block "main" . }}
    <!-- The part of the page that begins to differ between templates -->
    {{ end }}
    {{ block "footer" . }}
    <!-- More shared code, perhaps a footer but that can be overridden if need be in  -->
    {{ end }}

  </body>
</html>
