{{ define "main" }}
<main aria-role="main">
  <header class="flex flex-column flex-align-center">
    <h1 class="title">{{.Title}}</h1>
    {{ with .Params.subtitle }}
    <h1 class="subtitle">{{.}}</h1>
    {{ end }}
    {{ with .Params.description }}
    <h2 class="description">{{.}}</h2>
    {{end}}
  </header>
  <div class="homepage-content">
    <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
    {{.Content}}
  </div>
</main>
{{ end }}
